@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap');

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*TODO: Figure out why 100vh moves you outside of viewport*/
  height: 100vh;
  background: #e8cece;
  margin: 0;
  padding: 0;
  overflow: hidden;/* Adjust the colors as needed */

}

body, html {
  margin: 0;
  padding: 0;
}

.h1 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 800;
  font-size: 7rem;
  margin: 5px;
  padding: 5px;
}

.p {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 5px;
  padding: 5px;
}

.input {
  width: 20vw;
  margin: 10px;
  height: 2rem;
  font-size: 1.2em;
  font-family: "JetBrains Mono";
  font-weight: 400;
  color: #e8cece;
  border: none;
  border-radius: 30px;
  padding: 5px;
  background: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
}

.errors {
  color: green;
}

button {
  width: 150px;
  height: 40px;
  padding: 5px;
  margin: 10px;
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 1.2em;
  border: none;
  border-radius: 30vh;
  cursor: pointer;
  color: #30343f;
  background-color: #ffffff;
  text-align: center;
  box-shadow: none;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.logo-section {
  flex: 2; /* Takes up 2/3 of the screen on large screens */
}

.content-section {
  flex: 0; /* Takes up 1/3 of the screen on large screens */
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center; /* Vertically center content */
  text-align: center;
  align-items: center ;
  width: 40rem;
  margin: 0;
  padding: 0;/* Center align content */
}
