.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');

/* Define a class selector, not an HTML element selector */
.h1 {
  font-family: "JetBrains Mono", monospace; /* Use the correct font-family */
  font-weight: 800;
  font-size: 90px;
}

.p {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 24px;
}

.input {
  width: 50vw;
  margin: 20px;
  height: 2rem;
  font-size: 1.2em;
  border-radius: 17px;
  width: 300px;
  border: 3px solid #d2ddec;
  padding: 10px;
  outline: 0;
}

/*TODO: Extensive CSS rework, in what framework? Tailwind?*/

.errors {
  color: green;
}

button {
  width: 150px;
  height: 40px;
  font-size: 1.2em;
  border-radius: 17px;
  cursor: pointer;
  color: #fff;
  background-color: #01506f;
}
